.DS_Store

# Terraform
infra/terraform/**/.terraform/
infra/terraform/**/.terraform.lock.hcl
infra/terraform/**/*.tfstate
infra/terraform/**/*.tfstate.*
infra/terraform/**/*.tfvars
!infra/terraform/**/*.tfvars.example
infra/terraform/**/crash.log
infra/terraform/**/crash.*.log
